<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="icon" th:href="@{/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/reset.css}"/>
    <link rel="stylesheet" th:href="@{/styles/webpage/webpage_header_footer.css}"/>
    <style>
        body#article-preview {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
        }
    </style>
    <style>
        .article-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        h2, h3 {
            text-align: center;
        }

        img.image-article {
            width: 100%;
        }
    </style>
    <title>預覽畫面</title>
</head>
<body id="article-preview">
<div>
    <div th:insert="~{webpage/homepage.html:: headerFragment}"></div>
    <main>
        <h2>衛教文章</h2>
        <div class="article-container">
            <img alt="文章封面" th:src="${article.cover}">
            <h3 th:text="${article.title}"></h3>
        </div>
    </main>
    <div th:insert="~{webpage/homepage.html:: footerFragment}"></div>
</div>

<div th:insert="~{webpage/article_page.html:: articlePageFragment}"></div>
</body>
</html>