<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          referrerpolicy="no-referrer"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/styles/side_bar.css}"/>
    <link rel="stylesheet" th:href="@{/styles/homepage.css}"/>
    <link rel="stylesheet" th:href="@{/styles/set_homepage.css}"/>
    <link rel="stylesheet" th:href="@{/styles/admin.css}"/>
    <title>首頁設定</title>
</head>
<body id="homepage-setting-body">
<nav id="homepage-setting-nav" th:insert="~{fragment/admin_sidebar.html:: admin_sidebar}"></nav>
<main id="homepage-setting-main">
    <div id="homepage-preview" th:insert="~{webpage/homepage.html:: homepageFragment}"></div>
    <div id="setting-form">
        <h2>首頁設定</h2>
        <form enctype="multipart/form-data" id="homepage-form" th:object="${HomepageForm}">
            <h3>機構介紹</h3>
            <label for="logo">機構 Logo </label>
            <input id="logo" name="logo" required type="file">
            <br>
            <label for="main-image">主要圖片 </label>
            <input id="main-image" name="mainImage" required type="file"/>
            <br>
            <label for="setting-image-intro">圖片敘述: </label>
            <br>
            <textarea id="setting-image-intro" name="imageDescription" required
                      th:text="${homePage.imageDescription}"></textarea>
            <br>
            <label for="setting-institution-intro">關於我們:</label>
            <br>
            <textarea id="setting-institution-intro" name="institutionIntro" required
                      th:text="${homePage.institutionIntro}"></textarea>
            <h3>選擇顏色</h3>
            <div>
                <input id="color-red" name="color" required type="radio" value="1"/>
                <label for="color-red">紅色</label>
                <input id="color-orange" name="color" type="radio" value="2"/>
                <label for="color-orange">橘色</label>
                <input id="color-green" name="color" type="radio" value="3"/>
                <label for="color-green">綠色</label>
                <input id="color-blue" name="color" type="radio" value="4"/>
                <label for="color-blue">藍色</label>
                <input id="color-purple" name="color" type="radio" value="5"/>
                <label for="color-purple">紫色</label>
            </div>
            <button class="cancel" id="btn-cancel-style">取消</button>
            <button class="preview" id="btn-preview-style">預覽</button>
            <button class="preview" id="btn-preview-homepage">預覽完整畫面</button>
            <button class="save" id="btn-update-style">儲存</button>
        </form>
    </div>

</main>

</body>
<script>
    const RELATIVE_PATH = window.location.origin;
    let currentUrl = window.location.href;

    // get user's domain name
    const DOMAIN_REGEX = /\/admin\/([^/]+)/;
    let domain = DOMAIN_REGEX.exec(currentUrl)[1];
    // homepage style setting
    // POST form data to back end

    $(document).ready(function () {
        $("#btn-preview-homepage").hide();
    })

    $("#btn-preview-style").click(function (event) {
        // send preview data to back end
        let form = $("#homepage-form")[0];
        if (!form.checkValidity()) {
            return;
        }
        event.preventDefault();

        let formData = new FormData(form);
        let endpoint = `${RELATIVE_PATH}/api/1.0/admin/${domain}/setting/homepage/preview`;
        try {
            (async function postData() {
                let response = await fetch(endpoint, {
                    method: 'POST',
                    body: formData
                })
            })()
        } catch (error) {
            console.error('Error:', error);
        }

        // render preview data
        let selectedValue = $('input[name="color"]:checked').val();
        let setImageIntro = $('#setting-image-intro').val();
        let setInstitutionIntro = $('#setting-institution-intro').val();

        $('.main-image-description').html(setImageIntro);
        $('.institution-intro').html(setInstitutionIntro);

        let backgroundColor, headingColor;
        if (selectedValue === '1') {
            backgroundColor = '#A61C00';
            headingColor = '#5B0F00';
        } else if (selectedValue === '2') {
            backgroundColor = '#FFAB40';
            headingColor = '#B45F06';
        } else if (selectedValue === '3') {
            backgroundColor = '#5AC7AA';
            headingColor = '#196853';
        } else if (selectedValue === '4') {
            backgroundColor = '#3481C7';
            headingColor = '#124470';
        } else if (selectedValue === '5') {
            backgroundColor = '#654DA3';
            headingColor = '#1E0A52';
        }

        $('.header-homepage').attr('style', 'background-color: ' + backgroundColor);
        $('.footer-fragment-container').attr('style', 'background-color: ' + backgroundColor);
        $('.heading-intro, .heading-info, .phone, .address, .business-hour').attr('style', 'color: ' + headingColor);

        $("#btn-preview-homepage").show();
    })
    ;

    $("#btn-update-style").click(function (event) {
        let form = $("#homepage-form")[0];
        if (!form.checkValidity()) {
            return;
        }
        event.preventDefault();

        let formData = new FormData(form);
        let endpoint = `${RELATIVE_PATH}/api/1.0/admin/${domain}/setting/homepage/update`;
        try {
            (async function postData() {
                let response = await fetch(endpoint, {
                    method: 'POST',
                    body: formData
                })
                if (response.ok) {
                    setTimeout(function () {
                        window.location.href = `${RELATIVE_PATH}/admin/${domain}/setting/homepage`;
                    }, 0);
                }
            })()
        } catch (error) {
            console.error('Error:', error);
        }
    });

    $("#btn-preview-homepage").click(function (event) {
        event.preventDefault();
        let previewUrl = `${RELATIVE_PATH}/admin/${domain}/setting/homepage?action=preview`;
        window.open(previewUrl, '_blank', 'width=1200,height=600');
    })

    $('#btn-cancel-style').click(function (event) {
        event.preventDefault();
        window.location.href = `${RELATIVE_PATH}/admin/${domain}/setting/homepage`;
    });


    $(document).ready(function () {
        $('#logo').change(function () {
            previewLogo();
        })
    })

    function previewLogo() {
        let logoImage = $('.logo-image');
        let file = $('#logo')[0].files[0];
        let reader = new FileReader();

        reader.onloadend = function () {
            logoImage.attr('src', reader.result);
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    $(document).ready(function () {
        $('#main-image').change(function () {
            previewMainImage();
        })
    })

    function previewMainImage() {
        let mainImage = $('.main-image');
        let file = $('#main-image')[0].files[0];
        let reader = new FileReader();

        reader.onloadend = function () {
            mainImage.attr('src', reader.result);
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }

</script>

<script th:inline="javascript">
    const key = [[${key}]];
    (g => {
        var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
            m = document, b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
            u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script"));
                e.set("libraries", [...r] + "");
                for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                e.set("callback", c + ".maps." + q);
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                d[q] = f;
                a.onerror = () => h = n(Error(p + " could not load."));
                a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                m.head.append(a)
            }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })({
        key: key,
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
    });

    let map;

    const locationObject = [[${location}]];

    async function initMap() {
        const {Map} = await google.maps.importLibrary("maps");

        const {AdvancedMarkerElement, PinElement} = await google.maps.importLibrary("marker");

        map = new Map(document.getElementById("map"), {
            center: locationObject,
            zoom: 15,
            mapId: "DEMO_MAP_ID"
        });

        const marker = new google.maps.marker.AdvancedMarkerElement({
            map,
            position: locationObject
        });
    }

    initMap();
</script>
</html>