<nav id="side-bar" th:fragment="admin_sidebar">
    <a th:href="@{'/admin/' +${domain}}"><h2 th:text="${institutionName}"></h2></a>
    <a id="index" target="_blank" th:href="@{'/' +${domain}+'/homepage.html'}"><i class="fa-solid fa-house"></i>機構網頁</a>
    <h3>網頁管理</h3>
    <ul>
        <li><i class="fa-solid fa-sliders"></i><a th:href="@{'/admin/' +${domain}+'/setting/homepage'}">首頁設定</a>
        </li>
        <li><i class="fa-solid fa-notes-medical"></i><a
                th:href="@{'/admin/' +${domain}+'/setting/service'}">服務項目</a></li>
        <li><i class="fa-solid fa-user-doctor"></i><a th:href="@{'/admin/' +${domain}+'/setting/member'}">團隊介紹</a>
        </li>
        <li><i class="fa-solid fa-book"></i><a th:href="@{'/admin/' +${domain}+'/setting/articles'}">衛教文章</a>
        </li>
        <div th:if="${released_article != null || draft != null}">
            <details>
                <summary>已發布文章</summary>
                <ul class="article" th:if="${released_article != null}">
                    <li th:each="article : ${released_article}">
                        <a th:href="@{'/admin/' +${domain}+'/setting/articles/'+${article.id} + '?draft=0'}"
                           th:text="${article.title}"></a>
                    </li>
                </ul>
            </details>
            <details>
                <summary>草稿</summary>
                <ul class="article" th:if="${drafts != null}">
                    <li th:each="article : ${drafts}">
                        <a th:href="@{'/admin/' +${domain}+'/setting/articles/'+${article.id} + '?draft=1'}"
                           th:text="${article.title}"></a>
                    </li>
                </ul>
            </details>
        </div>

        <!--        <div th:if="${released_article != null || draft != null}">-->
        <!--            <ul>-->
        <!--                <li>已發布文章</li>-->
        <!--                <ul th:if="${released_article != null}">-->
        <!--                    <li th:each="article : ${released_article}">-->
        <!--                        <a th:href="@{'/admin/' +${domain}+'/setting/articles/'+${article.id} + '?draft=0'}"-->
        <!--                           th:text="${article.title}"></a>-->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--                <li>草稿</li>-->
        <!--                <ul th:if="${drafts != null}">-->
        <!--                    <li th:each="article : ${drafts}">-->
        <!--                        <a th:href="@{'/admin/' +${domain}+'/setting/articles/'+${article.id} + '?draft=1'}"-->
        <!--                           th:text="${article.title}"></a>-->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--            </ul>-->
        <!--        </div>-->
        <li><i class="fa-solid fa-clipboard-list"></i><a
                th:href="@{'/admin/' +${domain}+'/setting/evaluation'}">評估管理</a>
        </li>
    </ul>
    <h3>團隊管理</h3>
    <ul>
        <li><i class="fa-solid fa-sitemap"></i><a th:href="@{'/admin/' +${domain}+'/management/team'}">成員管理</a>
        </li>
        <li><i class="fa-solid fa-chart-line"></i><a th:href="@{'/admin/' +${domain}+'/management/report'}">業績報表</a>
        </li>
    </ul>
    <h3>帳號管理</h3>
    <ul>
        <li><i class="fa-solid fa-gear"></i><a th:href="@{'/admin/' +${domain}+'/management/account'}">機構資訊</a></li>
        <li><i class="fa-solid fa-left-long"></i><a th:href="@{'/myinstitution'}">我的機構總覽</a></li>
    </ul>
</nav>