<nav id="side-bar" th:fragment="therapist_sidebar">
    <a th:href="@{'/therapist/' +${domain}}"><h2>治療師頁面</h2></a>
    <li><a target="_blank" th:href="@{'/' +${domain}+'/homepage.html'}">機構網頁</a></li>
    <h3>網頁管理</h3>
    <ul>
        <!--        <li><a th:href="@{'/admin/' +${domain}+'/setting/articles'}">衛教文章</a></li>-->
        <!--        <div th:if="${released_article != null || draft != null}">-->
        <!--            <ul>-->
        <!--                <li>已發布文章</li>-->
        <!--                <ul th:if="${released_article != null}">-->
        <!--                    <li th:each="article : ${released_article}">-->
        <!--                        <a th:href="@{'/admin/' +${domain}+'/setting/articles/'+${article.id} + '?draft=0'}"-->
        <!--                           th:text="${article.title}"></a>-->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--                <li>草稿</li>-->
        <!--                <ul th:if="${drafts != null}">-->
        <!--                    <li th:each="article : ${drafts}">-->
        <!--                        <a th:href="@{'/admin/' +${domain}+'/setting/articles/'+${article.id} + '?draft=1'}"-->
        <!--                           th:text="${article.title}"></a>-->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--            </ul>-->
        <!--        </div>-->
        <!--        <li><a th:href="@{'/admin/' +${domain}+'/setting/evaluation'}">評估管理</a></li>-->
    </ul>
    <h3>個案管理</h3>
    <ul>
        <li><a th:href="@{'/therapist/' +${domain}+'/client/report'}">個案回報</a></li>
    </ul>
    <h3>帳號管理</h3>
    <ul>
        <li><a th:href="@{'/therapist/' +${domain}+'/management/account'}">帳號設定</a></li>
        <li><a th:href="@{'/myinstitution'}">我的機構總覽</a></li>
    </ul>
</nav>