<nav id="side-bar" th:fragment="therapist_sidebar">
    <div class="logo-container">
        <img src="https://d1xz5nhjz9nmve.cloudfront.net/enabling/default/enabling.png">
        <a><h1 id="enabling">Enabling</h1></a>
    </div>
    <!--    <a th:href="@{'/therapist/' +${domain}}"><h2>治療師頁面</h2></a>-->
    <h3 class="h3-side-bar" th:text="${institutionName}"></h3>
    <ul>
        <li id="index">
            <i class="fa-solid fa-house"></i>
            <a target="_blank" th:href="@{'/' +${domain}+'/homepage.html'}">機構網頁</a>
        </li>
    </ul>
    <h3 class="h3-side-bar">網頁管理</h3>
    <ul>
        <li><i class="fa-solid fa-book"></i><a th:href="@{'/therapist/' +${domain}+'/setting/articles'}">衛教文章</a>
        </li>
        <div th:if="${released_article != null || draft != null}">
            <details>
                <summary>已發布文章</summary>
                <ul class="article" th:if="${released_article != null}">
                    <li th:each="article : ${released_article}">
                        <a th:href="@{'/therapist/' +${domain}+'/setting/articles/'+${article.id} + '?draft=0'}"
                           th:text="${article.title}"></a>
                    </li>
                </ul>
            </details>
            <details>
                <summary>草稿</summary>
                <ul class="article" th:if="${drafts != null}">
                    <li th:each="article : ${drafts}">
                        <a th:href="@{'/therapist/' +${domain}+'/setting/articles/'+${article.id} + '?draft=1'}"
                           th:text="${article.title}"></a>
                    </li>
                </ul>
            </details>
        </div>
    </ul>
    <h3 class="h3-side-bar">個案管理</h3>
    <ul>
        <li><i class="fa-solid fa-hospital-user"></i><a
                th:href="@{'/therapist/' +${domain}+'/client/list'}">個案管理</a></li>
        <li><i class="fa-solid fa-chart-line"></i><a th:href="@{'/therapist/' +${domain}+'/client/report'}">業績回報</a>
        </li>
    </ul>
    <h3>帳號管理</h3>
    <ul>
        <li><i class="fa-solid fa-left-long"></i><a th:href="@{'/myinstitution'}">機構總覽</a></li>
    </ul>
</nav>