<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <link rel="icon" th:href="@{/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/reset.css}"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+TC:wght@100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/main_page/index.css}"/>
    <link rel="stylesheet" th:href="@{/styles/main_page/index_nav.css}"/>
    <title>Enabling - 首頁</title>
</head>
<body>
<header>
    <nav id="nav-index">
        <div id="nav-container-left">
            <img src="https://d1xz5nhjz9nmve.cloudfront.net/enabling/default/enabling.png">
            <a><h1 id="enabling">Enabling</h1></a>
        </div>
        <div id="nav-container-right">
            <button id="register" onclick="window.location.href='/register'">註冊</button>
            <button id="login" onclick="window.location.href='/login'">登入</button>
        </div>
    </nav>
</header>
<main>
    <div class="intro">
        <div class="intro-container">
            <h2>快速打造專屬治療所網站</h2>
            <h4>整合個案管理、業績報表等行政流程</h4>
            <h4>無需任何程式、設計經驗</h4>
        </div>
    </div>
    <div class="image-container">
        <img id="main_image" src="https://d1xz5nhjz9nmve.cloudfront.net/enabling/default/index.png">
    </div>
</main>
</body>
</html>