<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="icon" th:href="@{/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/reset.css}"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          referrerpolicy="no-referrer"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/styles/my_institution.css}"/>
    <title>Enabling - 會員</title>
</head>
<body>
<nav>
    <div>
        <p>你好,</p>
        <p th:text="${userName}"></p>
    </div>
    <a id="logout">登出</a>
</nav>
<main>
    <h1><i class="fa-solid fa-house-chimney-medical"></i>我的機構</h1>
    <div id="my-institution-container">
        <div class="my-institution-item-container" th:each="myInstitution : ${myInstitutions}"
             th:if="${myInstitutions != null}">
            <p>
                <strong>機構名稱：</strong>
                <span th:text="${myInstitution.institutionName}"></span>
            </p>
            <p>
                <strong>電話：</strong>
                <span th:text="${myInstitution.tel}"></span>
            </p>
            <p>
                <strong>地址：</strong>
                <span th:text="${myInstitution.address}"></span>
            </p>
            <p><strong>營業時間：</strong></p>
            <p th:utext="${myInstitution.businessHour}"></p>
            <a class="a-institution" th:href="@{'/' + ${myInstitution.institutionDomain}+'/homepage.html'}">機構首頁</a>
            <a class="a-institution" th:href="@{'/' + ${myInstitution.role}+'/' + ${myInstitution.institutionDomain}}">前往後台</a>
            <!--        <div th:if="${myInstitution.role == 'admin'}">-->
            <!--            <button th:attr="onclick='deleteInstition(\'' + ${myInstitution.id} + '\')'">刪除</button>-->
            <!--        </div>-->
        </div>
    </div>

</main>
<button id="btn-create">新增機構</button>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script>
    const RELATIVE_PATH = window.location.origin;

    $('#btn-create').click(() => {
        window.location.href = `${RELATIVE_PATH}/myinstitution/create`;
        // window.open('/myinstitution/create', '_blank', 'width=800,height=600');
    });

    $('#logout').click(() => {
        let endpoint = `${RELATIVE_PATH}/api/1.0/user/logout`;
        (async function logout() {
            try {
                let response = await fetch(endpoint, {
                    method: 'GET'
                })
                if (response.ok) {
                    console.log("OK")
                    setTimeout(
                        function () {
                            window.location.href = `${RELATIVE_PATH}`
                        }, 0);
                }
            } catch (e) {
                console.log("Error: " + e)
            }
        })()

    })
</script>
</body>
</html>