<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <link rel="icon" th:href="@{/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/reset.css}"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Sans+TC:wght@100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/main_page/index_nav.css}"/>
    <link rel="stylesheet" th:href="@{/styles/main_page/register.css}"/>
    <title>Enabling - 註冊</title>
</head>
<body>
<header>
    <nav id="nav-index">
        <div id="nav-container-left">
            <img src="https://d1xz5nhjz9nmve.cloudfront.net/enabling/default/enabling.png">
            <a href="/"><h1 id="enabling">Enabling</h1></a>
        </div>
        <div id="nav-container-right">
        </div>
    </nav>
</header>
<main>
    <div class="image-container">
        <img id="main_image" src="https://d1xz5nhjz9nmve.cloudfront.net/enabling/default/register.png">
    </div>
    <div class="form-container">
        <h2>註冊</h2>
        <form action="/api/1.0/user/register" id="register-form" method="post" th:object="${Users}">
            <label for="user-name">姓名：</label>
            <br>
            <input id="user-name" name="username" required type="text"/>
            <br/>
            <label for="email">信箱：</label>
            <br>
            <input id="email" name="email" required type="email"/>
            <br/>
            <label>密碼：</label>
            <br>
            <input
                    name="password"
                    required
                    type="password"
            />
            <br/>
            <!--            <label>確認密碼：</label>-->
            <!--            <br>-->
            <!--            <input-->
            <!--                    required-->
            <!--                    type="password"-->
            <!--            />-->
            <!--            <br/>-->
            <button id="btn-register">註冊</button>
        </form>
        <div class="switch-form">
            <a href="/login" id="login-link">已有帳號？立即登入</a>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    const relativePath = window.location.origin;
    $(document).on('submit', '#register-form', async function (event) {
        event.preventDefault();

        try {
            let response = await fetch($(this).attr('action'), {
                body: new FormData(this),
                method: $(this).attr('method'),
            });
            let result = await response.json();

            if (response.ok) {
                window.location.href = `${relativePath}/myinstitution`;
            } else {
                alert(result["error"])
            }

        } catch (error) {
            console.error(error);
        }
    });
</script>
</body>
</html>