* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    display: flex;
}

nav {
    flex: 1;
}

main {
    flex: 4;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #293241;;
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 1rem;
}

h3 {
    color: #3D5B81;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.75rem 0;
}

div.admin-setting-container {
    display: flex;
    margin-right: 2rem;
}

/*div.submit-form, div.tables {*/
/*    flex: 1;*/
/*}*/

div.tables {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 2rem;
}

form {
    margin-top: 0.5rem;
}

label {
    margin-top: 0.5rem;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 300px;
    height: 24px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin: 5px 0;
}

input[type="date"],
input[type="time"] {
    height: 24px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin: 5px 0;
}

textarea {
    margin: 5px 0;
    width: 400px;
    height: 150px;
    padding: 5px;
    border: 1px solid #999999;
    border-radius: 5px;
    resize: none;
}

button.create,
button.delete,
button.change,
button.preview,
button.save,
button.cancel,
button.update,
button.release {
    margin: 0.5rem 0.5rem;
    padding: 0.25rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #304269;
    color: #FFFFFF;
    letter-spacing: 2px;
}

button.create:hover,
button.delete:hover,
button.change:hover,
button.preview:hover,
button.save:hover,
button.cancel:hover,
button.update:hover,
button.release:hover {
    cursor: pointer;
    background-color: #9BC0D9;
}

button.create {
    float: right;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*account_management.html*/
div#institution-info p {
    margin-top: 0.5rem;
}

div#institution-info p strong {
    font-weight: 550;
}

#btn-change-institution {
    margin-left: 10rem;
    margin-top: 0.5rem;
}