body {
    box-sizing: border-box;
}

/*header*/
header.header-homepage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

div.header-homepage-left {
    display: flex;
    align-items: center;
}

img.logo-image {
    height: 50px;
}

h1.institution-name {
    color: white;
    margin-left: 1rem;
}

nav.header-homepage-right ul {
    display: flex;
    list-style-type: none;
}

nav.header-homepage-right ul li a {
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    font-size: 1.1rem;
}

div.campaign-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 98vw;
    height: 70vh;
    overflow: hidden;
    margin-top: 5px;
}

img.main-image {
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

p.main-image-description {
    font-size: 1.25rem;
    position: absolute;
    bottom: 15vh;
    right: 10vw;
    color: rgb(55, 55, 55);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

h2.heading-intro, h2.heading-info, p.institution-intro {
    text-align: center;
}

div.info-container {
    display: flex;
    justify-content: center;
}

div.google-map {
    border: 1px solid gray;
    height: 400px;
    width: 400px;
}

/*footer*/
div.footer-fragment-container {
    margin-top: 3rem;
}

div.info-description-container {
    margin-left: 100px;
}

div.footer-container {
    display: flex;
    padding: 1rem;
}

div.footer-container-left, div.footer-container-right {
    margin-left: 3rem;
}

span.footer-span-title,
span.footer-span,
div.footer-container p,
div.footer-container-right div {
    color: white;
}

span.footer-span-title {
    font-size: 1.1rem;
    font-weight: bold;
}

@media screen and (max-width: 1100px) {
    header.header-homepage, nav.header-homepage-right ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav.header-homepage-right ul li a {
        margin: 0;
    }
}


