a {
    text-decoration: none;
}

#side-bar ul li#index {
    margin-top: 1.25rem;
}

/*a#index:hover {*/
/*    border-bottom: 1px solid #40312C;*/
/*}*/

#side-bar {
    width: 17.5vw;
    background-color: #293241;
    padding: 1rem 2rem;
    height: 100vh;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
}

#side-bar h2 {
    margin-top: 0;
    font-size: 1.75rem;
    font-weight: bold;
    color: #FFFFFF;

}

#side-bar h3 {
    margin-top: 20px;
    color: #D9E8F5;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF;
}

#side-bar h3:hover {
    cursor: default;
}

#side-bar ul {
    list-style-type: none;
    padding-left: 0;
}

#side-bar ul li {
    margin: 0.75rem 0;
}

#side-bar li a {
    font-size: 1.1rem;
    color: #FFFFFF;
}

#side-bar i {
    margin-right: 0.75rem;
    color: #FFFFFF;
}

#side-bar li a:hover {
    border-bottom: 1px solid #FFFFFF;
}

#side-bar details summary::-webkit-details-marker {
    display: inline-block;
}

#side-bar details summary {
    margin: 0 0 0.5rem 1rem;
    color: #FFFFFF;
}

#side-bar details summary:hover {
    cursor: pointer;
}

#side-bar ul.article li {
    margin: 0.5rem;
}

#side-bar ul.article li a {
    font-size: 0.9rem;
    margin-left: 1.5rem;
}