<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="icon" th:href="@{/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/reset.css}"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/webpage/webpage_header_footer.css}"/>
    <link rel="stylesheet" th:href="@{/styles/webpage/article_page.css}"/>
    <title th:text="${article.title}"></title>
</head>
<body class="webpage" th:fragment="articlePageFragment">
<div th:insert="~{webpage/homepage.html:: headerFragment}"></div>
<main class="webpage">
    <h2 th:style="'color: ' + ${homePage.themeColorId.headingColor}" th:text="${article.title}"></h2>
    <div class="article-container">
        <p th:utext="${article.content}"></p>
    </div>
</main>
<div th:insert="~{webpage/homepage.html:: footerFragment}"></div>

</body>
</html>