<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title th:text="${homePage.institutionDomain.institutionName}"></title>
</head>
<body>
<div th:fragment="homepageFragment">
    <div th:fragment="headerFragment">
        <header th:style="'background-color: ' + ${homePage.themeColorId.backgroundColor}">
            <div>
                <img alt="institution_logo" th:src="${logoImage}"/>
                <h1 th:text="${homePage.institutionDomain.institutionName}"></h1>
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/homepage.html'}">首頁</a></li>
                    <li><a href="">服務項目</a></li>
                    <li><a href="">團隊介紹</a></li>
                    <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/articles.html'}">衛教文章</a></li>
                    <li><a href="">進行預約</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <main>
        <div>
            <img alt="main_image" th:src="${mainImage}"/>
            <p th:utext="${imageDescription}"></p>
        </div>
        <div>
            <h2 th:style="'color: ' + ${homePage.themeColorId.headingColor}">關於我們</h2>
            <p th:utext="${institutionIntro}"></p>
        </div>
        <div>
            <h2 th:style="'color: ' + ${homePage.themeColorId.headingColor}">聯絡資訊</h2>
            <div>
                <div>Google Map</div>
                <div>
                    <div>
                        <p th:style="'color: ' + ${homePage.themeColorId.headingColor}">電話：</p>
                        <p th:text="${homePage.institutionDomain.tel}"></p>
                    </div>
                    <div>
                        <p th:style="'color: ' + ${homePage.themeColorId.headingColor}">地址：</p>
                        <p th:text="${homePage.institutionDomain.address}"></p>
                    </div>
                    <div>
                        <p th:style="'color: ' + ${homePage.themeColorId.headingColor}">營業時間：</p>
                        <p th:utext="${businessHour}"></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:fragment="footerFragment">
        <footer th:style="'background-color: ' + ${homePage.themeColorId.backgroundColor}">
            <div>
                <div>
                    <span>聯絡我們</span>
                    <div>
                        <span>地址： </span>
                        <p th:text="${homePage.institutionDomain.address}"></p>
                    </div>
                    <div>
                        <span>電話： </span>
                        <p th:text="${homePage.institutionDomain.tel}"></p>
                    </div>
                </div>
                <div>
                    <span>營業時間</span>
                    <div th:utext="${businessHour}"></div>
                </div>
            </div>
        </footer>
    </div>

</div>
</body>
</html>
