<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/styles/homepage.css}"/>
    <title th:text="${homePage.institutionDomain.institutionName}"></title>
</head>
<body>
<div id="homepage-fragment" th:fragment="homepageFragment">
    <header class="header-homepage" th:fragment="headerFragment"
            th:style="'background-color: ' + ${homePage.themeColorId.backgroundColor}">
        <div class="header-homepage-left">
            <img alt="institution_logo" class="logo-image" th:src="${logoImage}"/>
            <h1 class="institution-name" th:text="${homePage.institutionDomain.institutionName}"></h1>
        </div>
        <nav class="header-homepage-right">
            <ul>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/homepage.html'}">首頁</a></li>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/service.html'}">服務項目</a></li>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/member.html'}">團隊介紹</a></li>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/articles.html'}">衛教文章</a></li>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/evaluation.html'}">進行預約</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="campaign-container">
            <img alt="main_image" class="main-image" th:src="${mainImage}"/>
            <p class="main-image-description" th:utext="${imageDescription}"></p>
        </div>
        <div>
            <h2 class="heading-intro" th:style="'color: ' + ${homePage.themeColorId.headingColor}">關於我們</h2>
            <p class="institution-intro" th:utext="${institutionIntro}"></p>
        </div>
        <div>
            <h2 class="heading-info" th:style="'color: ' + ${homePage.themeColorId.headingColor}">聯絡資訊</h2>
            <div class="info-container">
                <div class="google-map">Google Map</div>
                <div class="info-description-container">
                    <div>
                        <p class="phone" th:style="'color: ' + ${homePage.themeColorId.headingColor}">電話：</p>
                        <p th:text="${homePage.institutionDomain.tel}"></p>
                    </div>
                    <div>
                        <p class="address" th:style="'color: ' + ${homePage.themeColorId.headingColor}">地址：</p>
                        <p th:text="${homePage.institutionDomain.address}"></p>
                    </div>
                    <div>
                        <p class="business-hour" th:style="'color: ' + ${homePage.themeColorId.headingColor}">
                            營業時間：</p>
                        <p th:utext="${businessHour}"></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer-fragment-container" th:fragment="footerFragment"
            th:style="'background-color: ' + ${homePage.themeColorId.backgroundColor}">
        <div class="footer-container">
            <div class="footer-container-left">
                <span class="footer-span-title">聯絡我們</span>
                <div class="footer-span-container">
                    <span class="footer-span">地址： </span>
                    <p th:text="${homePage.institutionDomain.address}"></p>
                </div>
                <div class="footer-span-container">
                    <span class="footer-span">電話： </span>
                    <p th:text="${homePage.institutionDomain.tel}"></p>
                </div>
            </div>
            <div class="footer-container-right">
                <span class="footer-span-title">營業時間</span>
                <div th:utext="${businessHour}"></div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
