<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/styles/homepage.css}"/>
    <title th:text="${homePage.institutionDomain.institutionName}"></title>
</head>
<body>
<div id="homepage-fragment" th:fragment="homepageFragment">
    <header class="header-homepage" th:fragment="headerFragment"
            th:style="'background-color: ' + ${homePage.themeColorId.backgroundColor}">
        <div class="header-homepage-left">
            <img alt="institution_logo" class="logo-image" th:src="${logoImage}"/>
            <h1 class="institution-name" th:text="${homePage.institutionDomain.institutionName}"></h1>
        </div>
        <nav class="header-homepage-right">
            <ul>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/homepage.html'}">首頁</a></li>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/service.html'}">服務項目</a></li>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/member.html'}">團隊介紹</a></li>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/articles.html'}">衛教文章</a></li>
                <li><a th:href="@{'/' +${homePage.institutionDomain.domainName}+'/evaluation.html'}">進行預約</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="campaign-container">
            <img alt="main_image" class="main-image" th:src="${mainImage}"/>
            <p class="main-image-description" th:utext="${imageDescription}"></p>
        </div>
        <div>
            <h2 class="heading-intro" th:style="'color: ' + ${homePage.themeColorId.headingColor}">關於我們</h2>
            <p class="institution-intro" th:utext="${institutionIntro}"></p>
        </div>
        <div>
            <h2 class="heading-info" th:style="'color: ' + ${homePage.themeColorId.headingColor}">聯絡資訊</h2>
            <div class="info-container">
                <div class="google-map" id="map">Google Map</div>
                <div class="info-description-container">
                    <div>
                        <p class="phone" th:style="'color: ' + ${homePage.themeColorId.headingColor}">電話：</p>
                        <p th:text="${homePage.institutionDomain.tel}"></p>
                    </div>
                    <div>
                        <p class="address" th:style="'color: ' + ${homePage.themeColorId.headingColor}">地址：</p>
                        <p th:text="${homePage.institutionDomain.address}"></p>
                    </div>
                    <div>
                        <p class="business-hour" th:style="'color: ' + ${homePage.themeColorId.headingColor}">
                            營業時間：</p>
                        <p th:utext="${businessHour}"></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer-fragment-container" th:fragment="footerFragment"
            th:style="'background-color: ' + ${homePage.themeColorId.backgroundColor}">
        <div class="footer-container">
            <div class="footer-container-left">
                <span class="footer-span-title">聯絡我們</span>
                <div class="footer-span-container">
                    <span class="footer-span">地址： </span>
                    <p th:text="${homePage.institutionDomain.address}"></p>
                </div>
                <div class="footer-span-container">
                    <span class="footer-span">電話： </span>
                    <p th:text="${homePage.institutionDomain.tel}"></p>
                </div>
            </div>
            <div class="footer-container-right">
                <span class="footer-span-title">營業時間</span>
                <div th:utext="${businessHour}"></div>
            </div>
        </div>
    </footer>
</div>
</body>
<script th:inline="javascript">
    (g => {
        var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
            m = document, b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
            u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script"));
                e.set("libraries", [...r] + "");
                for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                e.set("callback", c + ".maps." + q);
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                d[q] = f;
                a.onerror = () => h = n(Error(p + " could not load."));
                a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                m.head.append(a)
            }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })({
        key: "AIzaSyAdrNid34yNJKl0XnEB-1mBbFfM-2fsqp4",
        v: "weekly",
        // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
        // Add other bootstrap parameters as needed, using camel case.
    });

    let map;

    const locationObject = [[${location}]];

    async function initMap() {
        const {Map} = await google.maps.importLibrary("maps");

        const {AdvancedMarkerElement, PinElement} = await google.maps.importLibrary("marker");

        map = new Map(document.getElementById("map"), {
            center: locationObject,
            zoom: 15,
            mapId: "DEMO_MAP_ID"
        });

        const marker = new google.maps.marker.AdvancedMarkerElement({
            map,
            position: locationObject
        });
    }

    initMap();
</script>
</html>