<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="icon" th:href="@{/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/reset.css}"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/webpage/webpage_header_footer.css}"/>
    <link rel="stylesheet" th:href="@{/styles/webpage/member.css}"/>
    <title>團隊介紹</title>
</head>
<body class="webpage">
<div th:insert="~{webpage/homepage.html:: headerFragment}"></div>
<main class="webpage">
    <h2 th:style="'color: ' + ${homePage.themeColorId.headingColor}">團隊介紹</h2>
    <div class="member-container" th:each="member:${members}" th:if="${members != null}">
        <div class="member-item-container">
            <div class="img-member-container">
                <img class="img-member" th:src="${member.photo}">
            </div>
            <div class="member-info">
                <h3 th:style="'color: ' + ${homePage.themeColorId.headingColor}" th:text="${member.name}"></h3>
                <h4 th:text="${member.title}"></h4>
                <h3 class="qualification" th:style="'color: ' + ${homePage.themeColorId.headingColor}">工作經歷:</h3>
                <p th:utext="${member.qualification}"></p>
                <h3 th:style="'color: ' + ${homePage.themeColorId.headingColor}">學歷:</h3>
                <p th:utext="${member.education}"></p>
            </div>
        </div>
    </div>
</main>
<div th:insert="~{webpage/homepage.html:: footerFragment}"></div>
</body>
</html>