<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/styles/homepage.css}"/>
    <style>
        h2 {
            text-align: center;
        }
    </style>
    <title>團隊介紹</title>
</head>
<body>
<div th:insert="~{webpage/homepage.html:: headerFragment}"></div>
<main>
    <h2 th:style="'color: ' + ${homePage.themeColorId.headingColor}">團隊介紹</h2>
    <div th:each="member:${members}" th:if="${members != null}">
        <img th:src="${member.photo}">
        <h3 th:text="${member.name}"></h3>
        <h4 th:text="${member.title}"></h4>
        <h3>工作經歷:</h3>
        <p th:utext="${member.qualification}"></p>
        <h3>學歷:</h3>
        <p th:utext="${member.education}"></p>
    </div>
</main>
<div th:insert="~{webpage/homepage.html:: footerFragment}"></div>
</body>
</html>