<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/styles/reset.css}"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/webpage/webpage_header_footer.css}"/>
    <style>
        h2 {
            text-align: center;
        }

        div.service-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        img.img-service {
            width: 100%;
        }

        h3, p {
            text-align: center;
        }
    </style>

    <title>服務項目</title>
</head>
<body class="webpage">
<div th:insert="~{webpage/homepage.html:: headerFragment}"></div>
<main class="webpage">
    <h2 th:style="'color: ' + ${homePage.themeColorId.headingColor}">服務項目</h2>
    <div class="service-container">
        <div th:each="serviceItem:${serviceItems}" th:if="${serviceItems != null}">
            <img class="img-service" th:src="${serviceItem.image}">
            <h3 th:text="${serviceItem.title}"></h3>
            <h3>收費說明: </h3>
            <p th:utext="${serviceItem.price}"></p>
        </div>
    </div>

</main>
<div th:insert="~{webpage/homepage.html:: footerFragment}"></div>
</body>
</html>