<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="icon" th:href="@{/favicon.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/reset.css}"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/webpage/webpage_header_footer.css}"/>
    <link rel="stylesheet" th:href="@{/styles/webpage/service.css}"/>
    <title>服務項目</title>
</head>
<body class="webpage">
<div th:insert="~{webpage/homepage.html:: headerFragment}"></div>
<main class="webpage">
    <h2 th:style="'color: ' + ${homePage.themeColorId.headingColor}">服務項目</h2>
    <div class="service-container">
        <div class="service-item-container" th:each="serviceItem:${serviceItems}" th:if="${serviceItems != null}">
            <div class="img-service-container">
                <img class="img-service" th:src="${serviceItem.image}">
            </div>
            <h3 th:style="'color: ' + ${homePage.themeColorId.headingColor}" th:text="${serviceItem.title}"></h3>
            <div class="price-container">
                <h4>說明：</h4>
                <p class="price" th:utext="${serviceItem.price}"></p>
            </div>
        </div>
    </div>
</main>
<div th:insert="~{webpage/homepage.html:: footerFragment}"></div>
</body>
</html>