<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/styles/homepage.css}"/>
    <style>
        h2 {
            text-align: center;
        }
    </style>

    <title>服務項目</title>
</head>
<body>
<div th:insert="~{webpage/homepage.html:: headerFragment}"></div>
<main>
    <h2 th:style="'color: ' + ${homePage.themeColorId.headingColor}">服務項目</h2>
    <div th:each="serviceItem:${serviceItems}" th:if="${serviceItems != null}">
        <img th:src="${serviceItem.image}">
        <h3 th:text="${serviceItem.title}"></h3>
        <h3>收費說明: </h3>
        <p th:utext="${serviceItem.price}"></p>
    </div>
</main>
<div th:insert="~{webpage/homepage.html:: footerFragment}"></div>
</body>
</html>