<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link rel="stylesheet" th:href="@{/styles/homepage.css}"/>
    <style>
        h2 {
            text-align: center;
        }
    </style>
    <title>團隊介紹</title>
</head>
<body>
<div th:insert="~{webpage/homepage.html:: headerFragment}"></div>
<main>
    <h2 th:style="'color: ' + ${homePage.themeColorId.headingColor}">團隊介紹</h2>
    網站建置中......
</main>
<div th:insert="~{webpage/homepage.html:: footerFragment}"></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>