<!DOCTYPE html>
<html lang="zh-Hunt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            display: flex;
        }

        nav {
            flex: 1;
        }

        main {
            flex: 4;
        }
    </style>
    <link rel="stylesheet" th:href="@{/styles/side_bar.css}"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <title>治療師頁面</title>
</head>
<body>
<nav th:insert="~{fragment/therapist_sidebar.html:: therapist_sidebar}"></nav>
<main>

</main>


</body>
</html>