/*nav*/
nav#nav-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2.5rem 0 2.5rem;
}

div#nav-container-left {
    display: flex;
    align-items: center;
    height: auto;
}

div#nav-container-left img {
    flex: 1;
    width: 4.5vw;
    height: 4.5vw;
}

div#nav-container-left a {
    text-decoration: none;
}

h1#enabling {
    flex: 3;
    cursor: default;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0 1rem;
    color: #304269;
}

h1#enabling:hover {
    cursor: pointer;
}

div#nav-container-right {
    display: flex;
    align-items: center;
}

div#nav-container-right button {
    padding: 0.25rem 1.5rem;
    margin-right: 1rem;
    margin-top: 0.3rem;
    border: 2px solid #304269;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}

div#nav-container-right button#register {
    background-color: white;
    color: #304269;
}

div#nav-container-right button#register:hover {
    font-weight: 700;
}

div#nav-container-right button#login {
    background-color: #304269;
    color: white;
}

div#nav-container-right button#login:hover {
    font-weight: 700;
}

div#nav-container-right p#user-name {
    margin-right: 2rem;
    color: #304269;
    font-weight: 700;
    font-size: 1.15rem;
    cursor: default;
}

div#nav-container-right a#logout:hover {
    cursor: pointer;
    font-weight: 550;
}
